
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #232425, #ffffff);
    color: #333;
}


.container {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}


h1, h2 {
    text-align: center;
    color: #2c3e50;
}


ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 12px 0;
}

ul li a {
    display: block;
    padding: 12px;
    background: #6a6c6d;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
    font-weight: bold;
}

ul li a:hover {
    background: #2980b9;
}


a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #2ecc71;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    margin-top: 10px;
}

.btn:hover {
    background: #27ae60;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th {
    background: #2c3e50;
    color: white;
    padding: 10px;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table tr:hover {
    background: #f2f2f2;
}


input, select {
    width: 100%;
    padding: 8px;
    margin: 6px 0 12px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border: none;
    background: #3498db;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #2980b9;
}

.container h1 {
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
}